<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

    <form method="POST" action="/adicionar_produto"> 
        <table>
          <h3> Produto </h3>
          <tr>
            <th>Nome</th>
            <td><input type="text" name="Nome" required></td>
          </tr>
          <tr>
            <th>Preço</th>
            <td><input type="text" name="Preco" required></td>
          </tr>
         
         
        </table>
        <button type="submit" >Adicionar</button>
      </form>



      <form method="POST" action="/adicionar_user"> 
        <table>
          <h3> User </h3>
          <tr>
            <th>Nome</th>
            <td><input type="text" name="Nome" required></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input type="text" name="email" required></td>
          </tr>
          <tr>
            <th>Telefone</th>
            <td><input type="text" name="telefone" required></td>
          </tr>
         
         
         
        </table>
        <button type="submit" >Adicionar User</button>
      </form>

</body>
</html>